body{
    background:#0E2234;
    color:white;
}
h1{
    color:white;
}
.logo{
    width:200px;
}
.fill-white{
    fill:white;
}
.connect_four__wrapper .board{
    display:flex;
    flex-wrap: wrap;
}
.slot{
    background:blue;
    width:100px;
    height:100px;
    padding:10px;
}
.checker{
    background:#0E2234;
    height:80px;
    width:80px;
    border-radius:50px;
}
.checker.yellow{
    background:yellow;
}
.checker.red{
    background:red;
}
.current_player .player.red{
    border:1px red solid;
    color:black;
    background:pink;
    border-radius:5px;
    padding:10px;
}
.current_player .player.yellow{
    border:1px yellowgreen solid;
    color:black;
    background:yellow;
    border-radius:5px;
    padding:10px;
}