body{
    background:#0E2234;
    color:white;
}
h1{
    color:white;
}
.logo{
    width:200px;
}
.fill-white{
    fill:white;
}
.connect_four__wrapper{
    display:flex;
    flex-wrap: wrap;
}
.slot{
    background:blue;
    width:100px;
    height:100px;
    padding:10px;
}
.checker{
    background:#0E2234;
    height:80px;
    width:80px;
    border-radius:50px;
}